</main>
<footer class="footer text-center ">
    <a href="https://x.com/DeFi_Sparky" target="_blank"><i class="fa-brands fa-square-x-twitter"></i> </a>
    <a href="https://github.com/defi-sparky" target="_blank"><i class="fa-brands fa-github"></i></a>
    <p class="m-0">Developed by Sparky &copy 2025</p>
</footer>
</body>
</html>